[submodule "themes/next/source/lib/fancybox"]
	path = themes/next/source/lib/fancybox
	url = https://github.com/theme-next/theme-next-fancybox3
[submodule "themes/next/source/lib/reading_progress"]
	path = themes/next/source/lib/reading_progress
	url = https://github.com/theme-next/theme-next-reading-progress
[submodule "themes/next/source/lib/pace"]
	path = themes/next/source/lib/pace
	url = https://github.com/theme-next/theme-next-pace
[submodule "themes/next/source/lib/jquery_lazyload"]
	path = themes/next/source/lib/jquery_lazyload
	url = https://github.com/theme-next/theme-next-jquery-lazyload
